#functions {
    position: relative;
    max-height: 50vh;
    width: 100%;
    background: #984B43;
    box-shadow: 0 0.01em 0 0.1em rgba(0,0,0,0.5);
}

.functions_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;


}

.functions_option {
    width: 20%;
    position: relative;
    top: 1em;

}

.function_item {

    margin: auto;
}

.function_name {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
}