#authors {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
    box-shadow: 0 0.01em 0 0.1em rgba(0,0,0,0.5);
}


.author {
    min-width: 90%;
    min-height:80%;
    background: green;
    display: flex;
    justify-content: space-around;
}

.author1{
    width:30%;
    min-height: 100%;
    background: red;
}
.author_photo{
    psoition: relative;
    height: 40%;
}
.author_photo > img   {
    width: 100%;
}
.author_name{
    text-align: center;
    color: white;
}
