
.features-flex-container {
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    justify-content: space-around;
}

.feature-icon {

    max-width: 100%;
    width: 30%;
    height: auto;
    margin: 5% auto;
    padding: 5%;
    display: block;
    color: white;
    border: solid 1px #ed1c24;
    border-radius: 10%;
    background: #233237;
    transition: width 500ms;
}

.feature-icon:hover {
    width: 40%;
}

.feature-figure {
    align-items: center;
    color: #ed1c24;
    font-weight: bold;
}

.feature-figure:hover {
    color: #ffffff;
}

.icon-caption {
    text-align: center;
    font-size: 1.5rem;
}

.feature-link:hover {
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .features-flex-container {
        flex-direction: column;
    }

.container-reversed{
    display:flex
}