footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: #233237;
    color: #EAC67A;
}



#social_media > img{
    width: 70px;
    height: 70px;
    padding: 10px;

}