#form-entry {
    position: relative;
    box-shadow: 0 0.01em 0 0.1em rgba(0, 0, 0, 0.5);
    height: 60vh;
    color: #984B43;
    background: url('../img/OCCWO00.jpg')center repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.form-entry--ico {
    width:30%;
    height:90%;
    background: rgba(0,0,0,0.4);
}
.form-entry--main {
    position: relative;
    height: 90%;
    background: rgba(0,0,0,0.4);
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.form-entry--border{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

textarea {
    resize: none;
}
pus
#name, #mail, #msg {
    font-size: 1.5em;
    text-align:center;
    margin: 0.3em auto;
}
.submit {
    font-size: 1.5em;
}
#msg {
    text-align: left;
}