#form-entry {
    position: relative;
    box-shadow: 0 0.01em 0 0.1em rgba(0, 0, 0, 0.5);
    height: 60vh;
    color: #984B43;
    display: flex;
    justify-items: center;
    align-items: center;
}

textarea {
    resize: none;
}

#name {
    width: 30%;

}