#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url('../img/woman_run.jpg') center no-repeat fixed;
    /*<a href="http://www.freepik.com">Designed by senivpetro / Freepik</a>*/
    background-size: cover;
    box-shadow: 0 0.01em 0 0.1em rgba(0,0,0,0.5);
    min-height: 80vh;

}

h2 {
    width: 60%;
    font-size: 8vw;
    color: #000;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.2em;
    text-align: center;
    box-shadow: rgba(0,0,0,0.75);
    padding: .3em;
    position: relative;
    z-index: 90;

}

h1 {
    display: none;
}