h1 {
    display: none;
}

.h2-hero {
    font-size: 7vw;
    color: #000;
    font-family: 'Bangers', cursive;
    text-align: center;
    margin-bottom: 1em;
    transition: transform 2s;
}

.h2-hero:hover {
    transform: skewY(-20deg);
}

#hero > p > a {
    display: block;
    background: rgba(237, 28, 36, 0.9);
    color: #ebebeb;
    border-radius: 5%;
    font-size: 1vw;
    padding: 1vw;
    text-decoration: none;
    font-weight: bold;
    transition: padding 1s, box-shadow 2s;
}

#hero > p > a:hover {
    box-shadow: 0 0 0.7em 0.1em #ed1c24;
    padding: 1.5vw;
}

.p-hero {
    color: #ed1c24;
}

.h5-hero {
    font-size: 2vw;
}