/*  NAVBAR  */
#top-nav {
    box-shadow: 0 0.4em 0.6em 0 rgba(0,0,0,0.70);
}
.navbar{
    height: 70px;
}
.logo-main{
    max-width: 2em;
    max-height: 2em;
    border-radius: 5px;
    background: #ebebeb;

}

.nav-link {
    color: #ebebeb;
}
.container-fluid{
    padding: 0;
}
.navbar-brand:hover, .nav-link:hover {
    color: #ed1c24;
}

.nav-h1 {
    font-size: 2rem;
}

.nav-link.active {
    background: none !important;
    border-bottom: #ebebeb 1px solid;
    border-radius: 0;
}

.outOfTop_ {
    display: none;
}


.go_top {
    position: absolute;
    margin-top: 90vh;
    margin-left: 90vw;
    color: red;
}


.go_top:hover {
    -webkit-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    text-decoration: none;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}
